body {
	background-color: #005261;
}
.info {
	margin-top: auto;
	width: 100%;
}
header.nav {
	width: 100%;
	height: 60px;
	position: fixed;
	overflow-x: hidden;
	background-color: #333;
	left: 0;
	top: 0;	
}
.container {
	margin: auto;
  width: 75%;
	height: 60px;
}
ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: block;
	color: white;
	text-align: center;
	padding: 21px 30px;
	text-decoration: none;
}
li a:hover {
	background-color: #00A79D;
}
a.active {
	background-color: #00A79D;
}
#main-heading {
    margin: auto;
	width: 100%;
	padding: 10px;
}
#main-info {
    margin: auto;
	width: 50%;

}
h1 {
    margin-top: 80px;
	margin-bottom: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
h3 {
    text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: white;
}
.login {
    margin: auto;
    margin-top: 100px; 
    width: 50%;
    background-color: white;
    height: 500px;
}
