section {
    padding: 100px 0 80px;
    text-align: center;
}

.section-one {
    background-image: url(../img/Header-bg.jpg);
    background-size: cover;
    color: #fff;
}

.main-logo {
    padding: 20px;
}
.main-logo-img {
    position: relative;
    max-width: 100%;
    margin-top: 0;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

a {
    color:#fff;
    text-decoration: none;
}

a:hover {
    color: black;
}
