section {
    padding: 20px 0 20px;
    text-align: center;
}

div {
    display: block;
}
.section-one {
    background-image: url(../img/Header-bg.jpg);
    background-size: cover;
    color: #fff;
}

.main-logo {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    padding: 20px;
}
.main-logo-img {
    position: relative;
    margin-top: 0;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

a {
    color:#fff;
    text-decoration: none;
}

a:hover {
    color: black;
}

.main-heading {
    padding: 100px 0 100px 0;
    color: #fff;
    text-shadow: 3px 3px black;
    font-size: 100px;
}
